<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="team" type="com.ksundaysky.agileboard.commands.TeamCommand"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.commands.ProjectCommand"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.commands.EmployeeCommand"*/-->
<!--/*@thymesVar id="teams" type="java.util.Set"*/-->
<!--/*@thymesVar id="projects" type="java.util.Set"*/-->
<!--/*@thymesVar id="employees" type="java.util.Set"*/-->

<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">Project</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(projects)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="description" data-sortable="true">Description</th>
                            </tr>
                            </thead>
                            <tr th:each="project : ${projects}">
                                <td th:text="${project.id}"></td>
                                <td th:text="${project.name}"></td>
                                <td th:text="${project.description}"></td>
                        </table>
                    </div>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">List of projet's teams</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(teams)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="description" data-sortable="true">Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="team : ${teams}">
                                <td th:text="${team.id}"></td>
                                <td th:text="${team.name}"></td>
                                <td th:text="${team.description}"></td>
                                <td><a sec:authorize="hasAnyAuthority('ADMIN')" th:href="${'/team/'+team.id+'/project/'+projects[0].id+'/remove'}" class="btn btn-danger">Remove <i class="glyphicon glyphicon-trash"></i></a> </td>
                        </table>

                    </div>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="${'/project/'+projects[0].id+'/team/add'}" class="btn btn-success">Add team  <i class="glyphicon glyphicon-plus"></i></a>

                </div>
                <div class="panel-heading">
                    <h1 class="panel-title">List of project's members </h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(employees)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="surname" data-sortable="true">Surname</th>
                                <th data-field="role" data-sortable="true">Role</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.id}"></td>
                                <td th:text="${employee.firstName}"></td>
                                <td th:text="${employee.lastName}"></td>
                                <td th:text="${employee.role}"></td>
                                <td><a sec:authorize="hasAuthority('ADMIN')" th:href="${'/employee/'+employee.id+'/project/'+projects[0].id+'/remove' }" class="btn btn-danger">Remove <i class="glyphicon glyphicon-trash"></i></a> </td>
                        </table>

                    </div>

                    <a sec:authorize="hasAuthority('ADMIN')" th:href="${'/project/'+projects[0].id+'/employee/add'}" class="btn btn-success">Add project member <i class="glyphicon glyphicon-plus"></i></a>


                </div>
    </div>
</div>

</body>
</html>