<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="projects" type="java.util.Set"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.commands.ProjectCommand"*/-->


<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">List of projects</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(projects)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 5%" data-field="id" data-sortable="true">ID</th>
                                <th style="width: 20%" data-field="name" data-sortable="true">Name</th>
                                <th style="width: 45%" data-field="description" data-sortable="true">Description</th>
                                <th style="width: 15%"></th>
                                <th style="width: 15%"></th>
                                <th style="width: 15%"></th>
                            </tr>
                            </thead>
                            <tr th:each="project : ${projects}">
                                <td th:text="${project.id}"></td>
                                <td th:text="${project.name}"></td>
                                <td th:text="${project.description}"></td>
                                <td><a th:href="${'/project/'+project.id+'/backlog' }" class="btn btn-info">Backlog <i class="glyphicon glyphicon-bullhorn"></i></a> </td>
                                <td><a th:href="${'/project/'+project.id+'/sprints' }" class="btn btn-info">Sprints <i class="glyphicon glyphicon-bullhorn"></i></a> </td>
                                <td><a th:href="${'/project/'+project.id }" class="btn btn-info">info <i class="glyphicon glyphicon-zoom-in"></i></a> </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>