<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <title>Title</title>


<style>
    body{
        /*height: calc(100vh - 8em);*/
        /*padding: 4em;*/
        color: rgba(255,255,255,.75);
        font-family: 'Anonymous Pro', monospace;
        background-color:#34495e;
        /* background-color: //rgb(25,25,25);   */
    }
    .search-box {
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        background: #34495e;
        border-radius: 40px;
        height: 40px;
        padding: 10px;
    }

    .search-btn {
        color: #e74c3c;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #34495e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box:hover > .search-text {
        width: 240px;
        transition: 0.8s;
    }

    .search-box:hover > .search-btn {
        background: white;
    }

    .search-text {
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }




</style>

</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header" th:href="@{/home}">

            <a th:href="@{/home}"><img align="left"  alt="Brand"  height="50" width="50"  th:src="@{/images/ab.png} "   ></a>

            <a class="mar navbar-brand"  th:href="@{/home}" title="agile/board" > agile/board</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >
                    <span class="glyphicon glyphicon-user"></span>
                    Employees
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/employee/list}">List of employees</a>
                    </li>
                    <li><a th:href="@{/employee/create}">Add employee</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/teams/list}" >
                    <span class ="glyphicon glyphicon-briefcase"></span>
                    Teams
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/team/list}">List of teams</a>
                    </li>
                    <li><a th:href="@{/team/create}">Add team</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/teams/list}" >
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Projects
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/project/list}">List of projects</a>
                    </li>
                    <li><a th:href="@{/project/create}">Add project</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAuthority('DEVELOPER')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >
                    <span class="glyphicon glyphicon-user"></span>
                    My teams
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/team/list}">teams</a>
                    </li>
                    <!--<li><a th:href="@{/employee/create}">Add employee</a></li>-->
                </ul>
            </li>

            <li class="dropdown" sec:authorize="hasAuthority('DEVELOPER')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >
                    <span class="glyphicon glyphicon-briefcase"></span>
                    My projects
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/project/list}">projects</a>
                    </li>
                    <!--<li><a th:href="@{/employee/create}">Add employee</a></li>-->
                </ul>
            </li>

            <li class="dropdown" sec:authorize="hasAuthority('DEVELOPER')" >
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/users/list}" >
                    <span class="glyphicon glyphicon-list-alt"></span>
                    My board
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/myboard}">board</a>
                    </li>
                    <!--<li><a th:href="@{/employee/create}">Add employee</a></li>-->
                </ul>
            </li>
            <!--<li>-->
                <!--<div class="search-box">-->
                    <!--<input type="text" name="search" placeholder="Type here to search" class="search-text" />-->
                    <!--<a href="#" class="search-btn">-->
                        <!--<i class="fa fa-search"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/components}" >Komponenty-->
                    <!--<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a th:href="@{/components}" >Lista komponentów</a></li>-->
                    <!--<li><a th:href="@{/components/create}" sec:authorize="hasAnyAuthority('ADMIN')" >Dodaj komponent</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a th:href="@{/clients}">Klienci</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a th:href="@{/products}">Produkty</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a th:href="@{/visits}">Wizyty</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a th:href="@{/calendar}">Kalendarz</a>-->
            <!--</li>-->
            <!--<li>-->

                <!--<a th:href="@{/calendar2}">Harmonogram pracy</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a th:href="@{/logs}" sec:authorize="hasAnyAuthority('ADMIN')" >Logi</a>-->
            <!--</li>-->

            <!--<li>-->

                <!--<a th:href="@{/services}">Usługi</a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!---->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/clients}" >Klienci-->
            <!--<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a th:href="@{/clients}" >Lista klientów</a></li>-->
            <!--<li><a th:href="@{/clients/create}" >Dodaj klienta</a></li>-->

            <!--</ul>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/visits}" >Wizyty-->
            <!--<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a th:href="@{/visits}" >Lista wizyt</a></li>-->
            <!--</ul>-->
            <!--</li>-->


        </ul>
        <ul class="nav navbar-nav navbar-right navbar-">
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Wyloguj</a></li>

        </ul>
    </div>
</nav>

</body>
</html>