<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="projects" type="java.util.Set"*/-->
<!--/*@thymesVar id="tasksUnassigned" type="java.util.Set"*/-->
<!--/*@thymesVar id="tasksAssigned" type="java.util.Set"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.domain.Project"*/-->
<!--/*@thymesVar id="task" type="com.ksundaysky.agileboard.commands.TaskCommand"*/-->


<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title" >Project</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(projects)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 5%" data-field="id" data-sortable="true">ID</th>
                                <th style="width: 20%" data-field="name" data-sortable="true">Name</th>
                                <th style="width: 40%" data-field="description" data-sortable="true">Description</th>
                                <!--<th style="width: 15%"></th>-->
                                <th style="width: 25%"></th>
                                <th style="width: 10%"></th>
                            </tr>
                            </thead>
                            <tr th:each="project : ${projects}">
                                <td th:text="${project.id}"></td>
                                <td th:text="${project.name}"></td>
                                <td th:text="${project.description}"></td>
                                <!--<td><a th:href="${'/project/'+project.id+'/backlog' }" class="btn btn-info">Backlog <i class="glyphicon glyphicon-bullhorn"></i></a> </td>-->
                                <td><a th:href="${'/project/'+project.id+'/sprints' }" class="btn btn-info">Go to sprints <i class="glyphicon glyphicon-bullhorn"></i></a> </td>
                                <td><a th:href="${'/project/'+project.id }" class="btn btn-info">info <i class="glyphicon glyphicon-zoom-in"></i></a> </td>
                        </table>
                    </div>
                </div>

                    <div class="panel-heading">
                        <h1 class="panel-title"> Tasks unasigned to sprint</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #sets.isEmpty(tasksUnassigned)}">
                            <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                                <thead class="thead-inverse">
                                <tr>
                                    <th style="width: 5%" data-field="id" data-sortable="true">ID</th>
                                    <th style="width: 35%" data-field="name" data-sortable="true">Name</th>
                                    <th style="width: 10%" data-field="priority" data-sortable="true">Priority</th>
                                    <th style="width: 10%" data-field="status" data-sortable="true">Status</th>
                                    <!--<th style="width: 20%" data-field="status" data-sortable="true">Sprint</th>-->
                                    <!--<th style="width: 15%"></th>-->
                                    <th style="width: 20%"></th>
                                    <!--<th style="width: 20%"></th>-->
                                </tr>
                                </thead>
                                <tr th:each="task : ${tasksUnassigned}">
                                    <td th:text="${task.id}"></td>
                                    <td th:text="${task.name}"></td>
                                    <td th:text="${task.priority}"></td>
                                    <td th:text="${task.status}"></td>
                                    <!--<td th:text="${task.sprint.name}"></td>-->
                                    <!--<td><a th:href="${'/project/'+project.id+'/backlog' }" class="btn btn-info">Backlog <i class="glyphicon glyphicon-bullhorn"></i></a> </td>-->
                                    <td><a sec:authorize="hasAnyAuthority('ADMIN')"  th:href="${'/project/'+projects[0].id+'/sprints/task/'+task.id+'/add' }" class="btn btn-success">Add to active sprint<i class="glyphicon glyphicon-plus"></i></a> </td>
                                    <!--<td><a th:href="${'/project/'+project.id }" class="btn btn-info">info <i class="glyphicon glyphicon-zoom-in"></i></a> </td>-->
                            </table>
                        </div>

                        <a th:href="${'/project/'+projects[0].id+'/task/create'}" class="btn btn-success">Add task to project <i class="glyphicon glyphicon-plus"></i></a>

                    </div>

                    <div class="panel-heading">
                        <h1 class="panel-title"> Tasks assigned to sprints</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #sets.isEmpty(tasksAssigned)}">
                            <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                                <thead class="thead-inverse">
                                <tr>
                                    <th style="width: 5%" data-field="id" data-sortable="true">ID</th>
                                    <th style="width: 35%" data-field="name" data-sortable="true">Name</th>
                                    <th style="width: 10%" data-field="priority" data-sortable="true">Priority</th>
                                    <th style="width: 10%" data-field="status" data-sortable="true">Status</th>
                                    <th style="width: 20%" data-field="status" data-sortable="true">Sprint</th>
                                    <!--<th style="width: 15%"></th>-->
                                    <!--<th style="width: 20%"></th>-->
                                    <!--<th style="width: 20%"></th>-->
                                </tr>
                                </thead>
                                <tr th:each="task : ${tasksAssigned}">
                                    <td th:text="${task.id}"></td>
                                    <td th:text="${task.name}"></td>
                                    <td th:text="${task.priority}"></td>
                                    <td th:text="${task.status}"></td>
                                    <td th:text="${task.sprint.id}"></td>
                                    <!--<td><a th:href="${'/project/'+project.id+'/backlog' }" class="btn btn-info">Backlog <i class="glyphicon glyphicon-bullhorn"></i></a> </td>-->
                                    <!--<td><a th:href="${'/project/'+projects[0].id+'/sprints/'+task.id+'/add' }" class="btn btn-info">Add to sprint <i class="glyphicon glyphicon-plus"></i></a> </td>-->
                                    <!--<td><a th:href="${'/project/'+project.id }" class="btn btn-info">info <i class="glyphicon glyphicon-zoom-in"></i></a> </td>-->
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>