<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Recipe Home</title>-->

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
          <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
            <!--crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->

    <head>
        <title>Serwis AGD</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" ></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<!--</head>-->
<body>
<div th:replace="header/header :: header">...</div>
<!--/*@thymesVar id="employee" type="com.ksundaysky.agileboard.domain"*/-->

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Employee</h1>
                </div>
                <div class="panel-body">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>PESEL</th>
                            </tr>
                            <!--</thead>-->
                            <!--<tr th:remove="all">-->
                                <!--<td>123</td>-->
                                <!--<td>Tasty Goodnees 1</td>-->
                                <!--<td><a href="#">View</a></td>-->
                            <!--</tr>-->
                            <!--<tr th:remove="all">-->
                                <!--<td>12333</td>-->
                                <!--<td>Tasty Goodnees 2</td>-->
                                <!--<td><a href="#">View</a></td>-->
                            <!--</tr>-->
                            <tr>
                                <td th:text="${employee.id}">334</td>
                                <td th:text="${employee.firstName}">Tasty Goodnees 3</td>
                                <td th:text="${employee.lastName}">Tasty Goodnees 3</td>
                                <td th:text="${employee.pesel}">Tasty Goodnees 3</td>
                                <!--<td><a href="#" th:href="@{'/add'}">Add employee</a></td>-->
                                <!--<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>