/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/*html{*/
  /*min-height: 100%;*/
  /*overflow: hidden;*/
/*}*/
body{
  /*height: calc(100vh - 8em);*/
  /*padding: 4em;*/
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color:#34495e; 
  /* background-color: //rgb(25,25,25);   */
}

.form-signin{
    position: relative;
    background-color: #34495e;
}
.line-1{
    /*margin-top: 20%;*/
    position: relative;
    /*top: 30%;*/
    width: 24em;
    margin: 10% auto ;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(25,end) 1s 1 normal both,
             blinkTextCursor 500ms steps(25) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}