<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="team" type="com.ksundaysky.agileboard.commands.TeamCommand"*/-->
<!--/*@thymesVar id="teams" type="java.util.Set"*/-->
<!--/*@thymesVar id="projectId" type="java.lang.Long"*/-->

<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">List of teams you can add to this project</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(teams)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="surname" data-sortable="true">Description</th>
                                <th>Info</th>
                            </tr>
                            </thead>
                            <tr th:each="team : ${teams}">
                                <td th:text="${team.id}"></td>
                                <td th:text="${team.name}"></td>
                                <td th:text="${team.description}"></td>
                                <td><a th:href="${'/project/'+projectId+'/team/add/'+team.id }" class="btn btn-success">Add<i class="glyphicon glyphicon-plus"></i></a> </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>