<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>agile/board</title>

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
    <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
    <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
    <!--crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->

    <head>
        <title>agile-board</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" ></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" ></link>

        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
</head>
<body>

<!--/*@thymesVar id="employee" type="com.ksundaysky.agileboard.commands.EmployeeCommand"*/-->
<!--/*@thymesVar id="employees" type="java.util.Set"*/-->


<div th:replace="header/header :: header">...</div>


<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">Tasks TODO</h1>
                </div>
                <div class="panel-body">
                    <div class="progress active">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"   aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${todo}" th:style="'width:'+ ${percTodo}+'%'" th:text=" ${percTodo}+'%'"></div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h1 class="panel-title">Tasks IN PROGRESS</h1>
                </div>
                <div class="panel-body">
                    <div class="progress active">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${inprogres}" th:style="'width:'+ ${percInProgres}+'%'" th:text=" ${percInProgres}+'%'" ></div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Tasks IN TESTS</h1>
                </div>
                <div class="panel-body">
                    <div class="progress active">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${intests}" th:style="'width:'+ ${percInTests}+'%'" th:text=" ${percInTests}+'%'"></div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Tasks DONE</h1>
                </div>
                <div class="panel-body">
                    <div class="progress active">
                        <div class="progress-bar progress-bar-success progress-bar-striped " role="progressbar"  aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${done}" th:style="'width:'+ ${percDone}+'%'" th:text=" ${percDone}+'%'"></div>
                    </div>
                </div>





                </div>
            </div>
        </div>
</body>
</html>