<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Album example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <!--dodaj css -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" ></link>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>


    <!-- Custom styles for this template -->
    <!--<link th:href="@{/album.css}" rel="stylesheet">-->
    <!--<link href="/static/css/album.css" rel="stylesheet"/>-->

    <style>
        div.album.text-muted{
            background-color: #eee;
        }

    </style>
</head>

<body>


<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header" th:href="@{/home}">

            <a th:href="@{/home}"><img align="left"  alt="Brand"  height="50" width="50"  th:src="@{/images/ab.png} "   ></a>

            <a class="mar navbar-brand"  th:href="@{/home}" title="agile/board" > agile/board</a>

        </div>
    </div>
</nav>



    <!--<div >-->
       <p class="line-1 anim-typewriter">Let start project agile()</p>

        

        <form   th:action="@{/login}" method="POST" class="form-signin">
            <input type="text" id="email" name="email"  th:placeholder="Email"
                   class="form-control" required ="required"/> <br/>
            <input type="password"  th:placeholder="Hasło"
                   id="password" name="password" class="form-control" required="required"/> <br />

            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Błędny email lub hasło</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
        </form>


    <!--</div>-->


<footer class="text-muted">
    <!--<div class="container">-->
        <!--<p class="float-right">-->
            <!--<a href="#">Back to top</a>-->
        <!--</p>-->
        <!--<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>-->
        <!--<p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>-->
    <!--</div>-->
</footer>
</body>
</html>

