<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
</head>
<body>

<!--/*@thymesVar id="task" type="com.ksundaysky.agileboard.commands.TaskCommand"*/-->
<!--/*@thymesVar id="employee" type="com.ksundaysky.agileboard.commands.EmployeeCommand"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.commands.ProjectCommand"*/-->
<!--/*@thymesVar id="tasks" type="java.util.Set"*/-->
<!--/*@thymesVar id="employees" type="java.util.Set"*/-->
<!--/*@thymesVar id="projects" type="java.util.Set"*/-->

<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title" th:text="'Task '+${tasks[0].name}"></h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(tasks)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="priority" data-sortable="true">Priority</th>
                                <th data-field="status" data-sortable="true">Status</th>
                            </tr>
                            </thead>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.id}"></td>
                                <td th:text="${task.name}"></td>
                                <td th:text="${task.priority}"></td>
                                <td th:text="${task.status}"></td>
                                <td><a th:href="${'/task/'+tasks[0].id+'/remove'}" class="btn btn-danger">Remove  <i class="glyphicon glyphicon-remove"></i></a></td>
                        </table>
                    </div>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">List of members to assign</h1>
                </div>
                    <div class="table-responsive" th:if="${not #sets.isEmpty(employees)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="surname" data-sortable="true">Surname</th>
                                <th data-field="role" data-sortable="true">Role</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.id}"></td>
                                <td th:text="${employee.firstName}"></td>
                                <td th:text="${employee.lastName}"></td>
                                <td th:text="${employee.role}"></td>
                                <td><a th:href="${'/employee/'+employee.id+'/task/'+tasks[0].id+'/assign' }" class="btn btn-success">Assign <i class="glyphicon glyphicon-plus"></i></a> </td>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>