<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>agile-board</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>-->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>

    <style>

        .body{
            color: #1b1e21;
        }

        .row{
            color: #1b1e21;
        }
        .yellow-note {
            background-color: rgba(242,185,104,0.7);
            /*242 185 104*/
            text-align: center;
            padding: 10px;
            border-radius: 10px;

        }

        .green-note {
            background-color: rgba(116,195,116,0.7);
            /* rgb 116 195 116*/
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }

        .red-note {
            background-color: rgba(220,53,69,0.7);
            /*220 53 69*/
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }
        .blue-note {
            background-color: rgba(115,201,227,0.7);
            /*115 201 227*/
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }

        .media-body{
            border-radius: 15px;
        }
    </style>
</head>
<body>

<!--/*@thymesVar id="projects" type="java.util.Set"*/-->
<!--/*@thymesVar id="tasksUnassigned" type="java.util.Set"*/-->
<!--/*@thymesVar id="tasksAssigned" type="java.util.Set"*/-->
<!--/*@thymesVar id="doneTasks" type="java.util.Set"*/-->
<!--/*@thymesVar id="inTestsTasks" type="java.util.Set"*/-->
<!--/*@thymesVar id="inProgressTasks" type="java.util.Set"*/-->
<!--/*@thymesVar id="todoTasks" type="java.util.Set"*/-->

<!--/*@thymesVar id="sprintNames" type="java.util.Set"*/-->

<!--/*@thymesVar id="sprints" type="java.util.Set"*/-->
<!--/*@thymesVar id="project" type="com.ksundaysky.agileboard.domain.Project"*/-->
<!--/*@thymesVar id="sprint" type="com.ksundaysky.agileboard.domain.Sprint"*/-->

<!--/*@thymesVar id="task" type="com.ksundaysky.agileboard.commands.TaskCommand"*/-->


<!--/*@thymesVar id="name" type="com.ksundaysky.agileboard.domain.Sprint"*/-->
<!--/*@thymesVar id="todoTask" type="com.ksundaysky.agileboard.domain.Task"*/-->


<!--/*@thymesVar id="projectId" type="java.lang.Long"*/-->


<div th:replace="header/header :: header">...</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title" >Choose sprint</h1>
                </div>
                <div class="panel-body" style="color: #1d2124">

                    <div class="col-md-offset-4">
                        <form  autocomplete="off" th:object="${name}" th:action="@{/sprint/id/post}" method="post"  class="form-inline" role="form"  >
                            <!--<div class="form-group">-->

                            <div class="form-group mb-2">
                                <label class="col-md-4 control-label">Name</label>
                            </div>

                            <div class="form-group mx-sm-3 mb-2">
                                <select th:field="*{name}">
                                    <!--<option value=""> &#45;&#45; </option>-->
                                    <option th:each="sprint : ${sprintNames}"
                                            th:value="${sprint.name}"
                                            th:utext="${sprint.name}">
                                    </option>
                                </select>

                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Switch to sprint</button>
                            <!--</div>-->
                        </form>
                    </div>
                </div>
                <div class="panel-heading">
                    <h1 class="panel-title" >Sprint</h1>
                </div>
                <div class="panel-body text-center" style="color: #1b1e21">
                    <div class="table-responsive" th:if="${not #sets.isEmpty(sprints)}">
                        <table class="table table-striped table-hover" data-sort-name="id" data-sort-order="asc" >
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 5%" data-field="id" data-sortable="true">ID</th>
                                <th style="width: 20%" data-field="name" data-sortable="true">Name</th>
                                <th style="width: 25%" data-field="dataStart" data-sortable="true">Start date</th>
                                <th style="width: 25%" data-field="endDate" data-sortable="true">End date</th>
                                <!--<th style="width: 15%"></th>-->
                                <th style="width: 10%" th:if="${ #bools.isTrue(sprints[0].isActive)}"></th>
                                <th style="width: 10%" th:if="${#sets.isEmpty(todoTasks) && #sets.isEmpty(inTestsTasks) && #sets.isEmpty(inProgressTasks) && #bools.isTrue(sprints[0].isActive) }"></th>
                            </tr>
                            </thead>
                            <tr th:each="sprint : ${sprints}">
                                <td th:text="${sprint.id}"></td>
                                <td th:text="${sprint.name}"></td>
                                <td th:text="${sprint.startOfSprint}"></td>
                                <td th:text="${sprint.endOfSprint}"></td>
                                <!--<td><a th:href="${'/project/'+project.id+'/backlog' }" class="btn btn-info">Backlog <i class="glyphicon glyphicon-bullhorn"></i></a> </td>-->
                                <td><a th:if="${ #bools.isTrue(sprints[0].isActive)}" th:href="${'/project/'+projectId+'/backlog' }" class="btn btn-success">Add task <i class="glyphicon glyphicon-plus"></i></a> </td>
                                <td th:if="${#sets.isEmpty(todoTasks) && #sets.isEmpty(inTestsTasks) && #sets.isEmpty(inProgressTasks) && #bools.isTrue(sprints[0].isActive)}"><a th:href="${'/project/'+projectId+'/sprint/'+sprints[0].id+'/close' }" class="btn btn-warning">Close this sprint <i class="glyphicon glyphicon-ok"></i></a> </td>
                                <!--<td><a th:href="${'/project/'+project.id }" class="btn btn-info">info <i class="glyphicon glyphicon-zoom-in"></i></a> </td>-->
                        </table>
                    </div>

                    <div  th:unless="${ not #sets.isEmpty(sprints)}">

                        <!--<div class="col-md-offset-4">-->
                        <a  th:href="${'/project/'+projectId+'/sprints/create' }" class="btn btn-success">Add new sprint <i class="glyphicon glyphicon-plus"></i></a>
                        <!--</div>-->
                    </div>
                </div>
                <div th:if="${ not #sets.isEmpty(sprints)}">
                    <section class="row">
                        <div class="col-xs-12" style="width: 25%">
                            <h3 style="text-align: center; color: #1b1e21">To do:</h3>

                            <p th:if="${#sets.isEmpty(todoTasks)}">No tasks.</p>
                            <div class="media red-note" th:each="task: ${todoTasks}">
                                <!--<a style="float: right" th:href="${'/project/'+projectId+'/task/'+task.id+'/removefromsprint' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></a>-->
                                <div class="media-body">
                                    <div class="media-body" style="width: 25%">
                                        <i class="glyphic"> </i>
                                        <h4 class="media-heading" th:text="${task.name}">
                                            <!--<a href="project?idProject=${task.getProject().getId()}">${task.getProject().getName()}</a>-->
                                        </h4 >
                                        <strong th:text="${task.priority}"></strong>

                                        <div th:if="${task.isAssigned}">

                                            <p style="display: inline" th:utext="${'Assigned to : '+task.employee.firstName+' '+task.employee.lastName}"></p>
                                            <!--<p style="display: inline"><a th:href="${'/task/'+task.id+'/removeassigne' }" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-minus"></i></a></p>-->

                                        </div>

                                        <!--<div th:if="${task.isAssigned}">-->
                                            <!--<p>-->
                                                <!--<a th:href="${'/task/'+task.id+'/changestatus/inprogress' }"><button class="btn btn-warning btn-xs">Move to in progress</button></a>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<div th:unless="${task.isAssigned}">-->
                                            <!--<p>-->
                                                <!--<a th:href="${'/task/'+task.id+'/assign' }"><button class="btn btn-warning btn-xs">Assign this task</button></a>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="width: 25%">
                            <h3 style="text-align: center; color: #1b1e21">In progress:</h3>

                            <p th:if="${#sets.isEmpty(inProgressTasks)}">No tasks.</p>
                            <div class="media yellow-note" th:each="task: ${inProgressTasks}">
                                <!--<a style="float: right" th:href="${'/project/'+projectId+'/task/'+task.id+'/removefromsprint' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></a>-->

                                <div class="media-body">
                                    <div class="media-body" style="width: 25%">
                                        <h4 class="media-heading" th:text="${task.name}">
                                            <!--<a href="project?idProject=${task.getProject().getId()}">${task.getProject().getName()}</a>-->
                                        </h4 >
                                        <strong th:text="${task.priority}"></strong>

                                        <div th:if="${task.isAssigned}">

                                            <p style="display: inline"  th:utext="${'Assigned to : '+task.employee.firstName+' '+task.employee.lastName}"></p>
                                            <!--<p style="display: inline"><a th:href="${'/task/'+task.id+'/changeassign' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-pencil"></i></a></p>-->

                                        </div>

                                        <!--<form method="post">-->
                                        <!--<input type="hidden" name="idTask" value="${task.getId()}">-->
                                        <!--<div>-->
                                            <!--<p>-->
                                                <!--<a th:href="${'/task/'+task.id+'/changestatus/intests'}"><button class="btn btn-info btn-xs">Move to IN TESTS</button></a>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<a th:href="${'/task/'+task.id+'/changestatus/todo'}"><button class="btn btn-danger btn-xs">Back to TODO</button></a>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="width: 25%">
                            <h3 style="text-align: center; color: #1b1e21">In tests:</h3>

                            <p th:if="${#sets.isEmpty(inTestsTasks)}">No tasks.</p>
                            <div class="media blue-note" th:each="task: ${inTestsTasks}">
                                <!--<a style="float: right" th:href="${'/project/'+projectId+'/task/'+task.id+'/removefromsprint' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></a>-->

                                <div class="media-body">
                                    <div class="media-body" style="width: 25%">
                                        <h4 class="media-heading" th:text="${task.name}">
                                            <!--<a href="project?idProject=${task.getProject().getId()}">${task.getProject().getName()}</a>-->
                                        </h4 >
                                        <strong th:text="${task.priority}"></strong>

                                        <div th:if="${task.isAssigned}">

                                            <p style="display: inline"  th:utext="${'Assigned to : '+task.employee.firstName+' '+task.employee.lastName}"></p>
                                            <!--<p style="display: inline"><a th:href="${'/task/'+task.id+'/changeassign' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-pencil"></i></a></p>-->

                                        </div>


                                        <!--<form method="post">-->
                                        <!--<input type="hidden" name="idTask" value="${task.getId()}">-->
                                        <!--<p>-->
                                            <!--<a th:href="${'/task/'+task.id+'/changestatus/done'}"> <button class="btn btn-success btn-xs">Move to DONE</button></a>-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--<a th:href="${'/task/'+task.id+'/changestatus/inprogress'}"><button class="btn btn-warning btn-xs">Back to IN PROGRESS</button></a>-->
                                        <!--</p>-->
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="width: 25%">
                            <h3 style="text-align: center; color: #1b1e21">Done:</h3>

                            <p th:if="${#sets.isEmpty(doneTasks)}">No tasks.</p>
                            <div class="media green-note" th:each="task: ${doneTasks}">
                                <!--<a style="float: right" th:href="${'/project/'+projectId+'/task/'+task.id+'/removefromsprint' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></a>-->

                                <!--<div class="media-body">-->
                                <div class="media-body" style="width: 25%; border-radius: 10px">
                                    <h4 class="media-heading" th:text="${task.name}">
                                        <!--<a href="project?idProject=${task.getProject().getId()}">${task.getProject().getName()}</a>-->
                                    </h4 >
                                    <strong th:text="${task.priority}"></strong>

                                    <div th:if="${task.isAssigned}">

                                        <p style="display: inline" th:utext="${'Assigned to : '+task.employee.firstName+' '+task.employee.lastName}"></p>
                                        <!--<p style="display: inline"><a th:href="${'/task/'+task.id+'/changeassign' }" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-pencil"></i></a></p>-->

                                    </div>

                                    <!--<p>-->
                                        <!--<a th:href="${'/task/'+task.id+'/changestatus/intests' }"><button class="btn btn-info btn-xs" >Back to IN TESTS</button></a>-->
                                    <!--</p>-->
                                </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </section>
                </div>


            </div>

        </div>


    </div>
    <!--</div>-->


</div>
</div>
</div>

</body>
</html>